In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("billboard 2020-2025.csv")

In [3]:
df.describe()

,current_week,peak_pos,wks_on_chart,duration-ms,tempo,loudness,energy,danceability
count,27700.000000,27700.000000,27700.000000,2.770000e+04,27699.000000,27699.000000,27699.000000,27699.000000
mean,50.499964,33.743755,12.315993,2.069252e+05,122.978162,-6.868097,0.632008,0.656826
std,28.866631,28.010730,11.774950,1.409496e+05,29.210766,2.606790,0.161173,0.144776
min,1.000000,1.000000,1.000000,2.890000e+04,53.376000,-26.749000,0.031600,0.128000
25%,25.750000,9.000000,3.000000,1.694180e+05,99.894000,-7.984000,0.530000,0.555000
50%,50.500000,27.000000,9.000000,1.935060e+05,121.987000,-6.335000,0.643000,0.661000
75%,75.250000,55.000000,17.000000,2.215200e+05,142.868000,-5.092000,0.754000,0.765000
max,100.000000,100.000000,91.000000,3.614013e+06,215.338000,-1.896000,0.991000,0.971000

In [4]:
df.describe(include='O')

       chart_week       title      performer last_week genre(s)
count       27700       27700          27700     25884    16173
unique        277        3447           1796       101      354
top      1/4/2020  Heat Waves  Morgan Wallen         -  country
freq          100          91            712      2472     3232

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27700 entries, 0 to 27699
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   chart_week    27700 non-null  object
 1   current_week  27700 non-null  int64
 2   title         27700 non-null  object
 3   performer     27700 non-null  object
 4   last_week     25884 non-null  object
 5   peak_pos      27700 non-null  int64
 6   wks_on_chart  27700 non-null  int64
 7   genre(s)      16173 non-null  object
 8   explicit      27700 non-null  bool
 9   duration-ms   27700 non-null  float64
 10  tempo         27699 non-null  float64
 11  loudness      27699 non-null  float64
 12  energy        27699 non-null  float64
 13  danceability  27699 non-null  float64
dtypes: bool(1), float64(5), int64(3), object(5)
memory usage: 2.8+ MB